* {
    box-sizing: border-box;
    
  }
  .images{
    width: 200vw;
    max-width: 60%;
  }
  body{    
    background-color: burlywood;
   
  }
  
  .hideMe ul{
    display:flex;
    justify-content: space-between;
          
  }

  .hideMe ul li{
    list-style: none;
    margin: 0 auto;
    font-size: .8em;
    
    
  }
  .sizeMe {
    padding: 5px;
    justify-content: center;
    font-size: 1em;
  }
  
  h1 {
    font-size: 1.2rem;
    text-align: center;
    width: 400vw;
    max-width: 100%;
  } 
  .container {
    color: black ;
    font-size: 1 rem;
    font-family: 'Acme', sans-serif;
    margin-top: 0px;
    width: 800vw;
    max-width:80%;
    height: 100vh;
    max-height: 40%;
    margin: 0 auto;
       
  }
  .startQuiz, .altBox {
    text-align: center;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    
    }
  
  .startButton{
    text-align: center;
    width: 200px
  } 
  
  label input, label span {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  }
  
  label input {
  padding-right: 10px;
  padding-top: 5px;
  }
  
  .button {
  height: 50px;
  width: auto;
  text-transform: uppercase;
  border: .5em black solid;
  border-radius: 5px;
  background-color: lightseagreen;
  color: black;
  font-family: 'Acme', sans-serif;
  margin-top: 20px;
  }
  
  
  .questionText {
  display: flex;
  font-size: 1.1em;
  color:salmon;
  font-weight: 500;
  }
  .resultText{
    display: block;
    justify-content: center;
    font-size: .8em;  
  }
  .extraText{
    display: block;
    padding: 5px;
    justify-content: center;
    font-size: .8em;
    font-style: italic;
    color: red;  
  }
 
  .opening-image{
    width: 50%;
    height: 50%;
  }
    .images{
      width: 15%;
      height: 15%;
    }

 

  .movieBox{
    height: 25%;    
  }
  @media screen and (min-width: 768px) {
    .hideMe ul li{
      list-style: none;
      margin: 0 auto;
      font-size: 1.2em;
            
    }
    .sizeMe {
      padding: 5px;
      justify-content: center;
      font-size: 1.2em;
    }

    .questionText {
      display: flex;
      font-size: 1.3em;
      }
      .images{
        width: 25%;
        height: 25%;
      }
    
  
  }



  